.wrapper-search
  = render "layouts/header"

  .container-search
    %h4.search-title ユーザー検索
    = form_with url: search_users_path, method: :get, local: true do |f|
      = f.text_field :name, :class => 'form-control mb-2', :placeholder => '入力してください'
      = f.submit :Search, class: 'btn btn-info'
    %h5.search-result 検索結果
    .search-result__body
      - @users.each do |user|
        = link_to user_path(user.id) do
          .search-result__body__container
            .search-result__body__container__images= image_tag user.image.url
            .search-result__body__container__names= user.name
  .footer
    %p.footer__app-name ThisIsMe by Yu Nakajima