.wrapper
  %nav.navbar.navbar-expand-lg.navbar-light{:style => "background-color: #87e6e6;"}
    %a.navbar-brand{:href => root_path} ThisIsMe
    %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      %ul.navbar-nav.mr-auto
        %li.nav-item.active
          %a.nav-link{:href => root_path}
            Home
            %span.sr-only (current)
        %li.nav-item.dropdown
          %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            機能
          .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
            %a.dropdown-item{:href => edit_user_path(current_user)} プロフィール編集
            %a.dropdown-item{:href => search_users_path} ユーザー検索
            -# .dropdown-divider
            -# %a.dropdown-item{:href => "#"} Something else here
      %form.form-inline.my-2.my-lg-0
        -# %input.form-control.mr-sm-2{"aria-label" => "Search", :placeholder => "Search user", :type => "search"}/
        %a.btn.btn-outline-info.my-2.my-sm-0{:href => search_users_path, :role => "button"} ユーザー検索
  .container
    .header
      %h1.header-name= "#{@user.name}'s Profile"
      .header-profile
        .header-profile__left
          %img.profile-image= image_tag @user.image.url
        .header-profile__right 
          %div
            %h6= "名前：#{@user.name}"
          %div
            %h6= link_to "#{@user.link}", "#{@user.link}"
    .contents
      .contents-wrapper
        .contents-profile
          .contents-profile__box
            .contents-profile__box__description-title 自己紹介
            .contents-profile__box__description-content= @user.content

  .footer
    %p.footer__app-name ThisIsMe by Yu Nakajima
