.wrapper
  = render "layouts/header"
  
  .container
    .header
      %h1.header-name= "#{@user.name}'s Profile"
      .header-profile
        .header-profile__left
          %img.profile-image= image_tag @user.image.url
        .header-profile__right 
          %div
            %h6= "名前：#{@user.name}"
          %div
            %h6= link_to "#{@user.link}", "#{@user.link}"
    .contents
      .contents-wrapper
        .contents-profile
          .contents-profile__box
            .contents-profile__box__description-title 自己紹介
            .contents-profile__box__description-content= @user.content
        .copyarea-wrapper
          %textarea#fe_text{:cols => "30", :name => "", :rows => "1"}=request.url
          %button#copy-button.clipboard-btn.my_clip_button.btn.btn-outline-info.my-2.my-sm-0{"data-clipboard-target" => "#fe_text", "data-clipboard-action" => "copy"}
            %b URLをコピーしてシェア

  = render "layouts/footer"
